svg { display: none; }

body {
    font-family: Helvetica, Arial, sans-serif;
}

#Cabins { font-size: 6px; }

#Cabins text {
    cursor: pointer;
    display: none;
}

#Cabins text:hover, #Cabins text tspan:hover {
    font-size: 1.125em !important;
    font-weight: bold;
    fill: blue;
}

#Cabins text.selected, #Cabins text.selected tspan {
    font-size: 1.250em !important;
    font-weight: bolder;
    fill: darkblue;
}

#Cabins text.highlight {

}

.mfp-content {
    width: 95% !important;
}

.white-popup button {
    background-color: dodgerblue;
    border-radius: 5px;
    font-size: 1.25em;
    padding: 5px 15px;
    outline: none;
    color: #eee;
}

.white-popup {
    border: 1px solid transparent;
    border-radius: 5px;
    position: relative;
    margin: 20px auto;
    max-width: 500px;
    background: #FFF;
    padding: 20px;
    width: auto;
}

.center {
    text-align: center;
}
